<div class="container">
  <div class="row" >
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group">
                <input [(ngModel)]="user" class="form-control" placeholder="Username" name="user" type="text" autofocus>
              </div>
              <div class="form-group">
                <input [(ngModel)]="pass" class="form-control" placeholder="Password" name="pass" type="password">
              </div>
              <button (click)="login()" class="btn btn-primary pull-right">Login</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>